!!!
%html{:lang => "en"}

  %head

    / Default Meta Content
    %meta{:content => "xFlex", :name => "description"}
    %meta{:content => "xFlex", :name => "keywords"}
    %meta{:content => "xFlex", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}

    / Twitter Cards
    %meta{:name => "twitter:card", :content => "summary_large_image"}
    %meta{:name => "twitter:site", :content => "@"}
    %meta{:name => "twitter:creator", :content => "@"}
    %meta{:name => "twitter:title", :content => "Twitter card title"}
    %meta{:name => "twitter:description", :content => "Twitter card description"}
    %meta{:name => "twitter:image", :content => "image url"}

    / Apple Touch Icons And Favicon
    %link{:rel => "icon", :type => "image/png", :sizes => "32x32", :href => "http://website.co.uk/assets/images/ico/favicon-32x32.png"}
    %link{:rel => "apple-touch-icon", :sizes => "76x76", :href => "assets/images/touch/apple-touch-icon-76x76.png"}
    %link{:rel => "apple-touch-icon", :sizes => "120x120", :href => "assets/images/touch/apple-touch-icon-120x120.png"}
    %link{:rel => "apple-touch-icon", :sizes => "152x152", :href => "assets/images/touch/apple-touch-icon-152x152.png"}

    / Material Icons
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}

    / Global Stylesheet
    %link{:href => "assets/css/global.css", :rel => "stylesheet", :type => "text/css"}

    / jQuery CDN
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"}

    / Global JS File
    %script{:src => "assets/js/min/global-min.js"}

    / Navigation
    %script{:src => "assets/js/min/nav-min.js"}

    / Typekit Fonts
    %script{:src => "https://use.typekit.net/pdz5awh.js"}

    :javascript
      try{Typekit.load({ async: true });}catch(e){}

    %title xFlex | The Clever Flexbox Grid System

  %body
  / Site Wrapper
    .site
        .site_header
            .site_header__logo
            .site_header__navigation
        .site_hero
            .site_hero__slider
          /  .site_hero__image
        .site_main
            .site_main__grid
